// :::::::::::: Mixin;
@mixin commonColorandFonts {
    color: $primary-color;
    font-family: $heading-font;
}
// :::::::::::::: Define a mixin for @font-face
@mixin font-face($font-family, $font-path, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        src: url('#{$font-path}.woff2') format('woff2'),
        url('#{$font-path}.woff') format('woff');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

@include font-face('headingFonts', './fonts/museosans-100-webfont', 100);
@include font-face('headingFonts', './fonts/museosans-300-webfont', 300);
@include font-face('headingFonts', './fonts/museosans-500-webfont', 500);
@include font-face('headingFonts', './fonts/museosans-100-webfont', 100);
@include font-face('headingFonts', './fonts/museosans-700-webfont', 700);
@include font-face('headingFonts', './fonts/museosans-900-webfont', 900);

