* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "headingFonts";
  src: url("./fonts/museosans-100-webfont.woff2") format("woff2"), url("./fonts/museosans-100-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "headingFonts";
  src: url("./fonts/museosans-300-webfont.woff2") format("woff2"), url("./fonts/museosans-300-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "headingFonts";
  src: url("./fonts/museosans-500-webfont.woff2") format("woff2"), url("./fonts/museosans-500-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "headingFonts";
  src: url("./fonts/museosans-100-webfont.woff2") format("woff2"), url("./fonts/museosans-100-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "headingFonts";
  src: url("./fonts/museosans-700-webfont.woff2") format("woff2"), url("./fonts/museosans-700-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "headingFonts";
  src: url("./fonts/museosans-900-webfont.woff2") format("woff2"), url("./fonts/museosans-900-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
body {
  background-color: #252525 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: 100;
  font-family: "headingFonts", sans-serif;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.webBtn {
  padding: 1rem 2rem;
  background-color: #FAEDC0;
  border-radius: 6px;
  color: #252525 !important;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.webBtn:hover {
  background: #cdc3a0;
}

header {
  background-color: #252525;
  padding: 0.875rem 0px;
}

.menu-wrap ul {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  justify-content: end;
  align-items: center;
}
.menu-wrap ul a {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.menu-wrap ul a:hover {
  color: #FAEDC0;
}

.contactBannerDetails {
  display: grid;
  grid-template-columns: 30.44444% 100%;
}
.contactBannerDetails li {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 25.6px */
  color: #fff;
  list-style: none;
}
.contactBannerDetails li span {
  margin-right: 0.625rem;
}

.bannerText {
  padding: 11.438rem 0rem;
  position: relative;
  z-index: 22;
}
.bannerText h1 {
  color: #FAEDC0;
  font-family: "headingFonts", sans-serif;
  font-weight: 600;
  line-height: 120%;
  /* 52.8px */
  letter-spacing: -0.055rem;
}
.bannerText p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  color: #fff;
  margin-bottom: 2rem;
}

.frameBanner {
  background-color: #252525;
  position: relative;
}
.frameBanner:after {
  content: "";
  width: 50%;
  height: 100%;
  background: #2E2D2D;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0 100%);
}

.bannerVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.howWeAre {
  padding: 80px 0px;
}

.howWeAre-image {
  width: 100%;
  height: 487px;
  background-size: cover;
  border-radius: 6px;
  background-repeat: no-repeat;
}

.howweare-inbox h2 {
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 50.4px */
  letter-spacing: -0.72px;
  color: #FAEDC0;
  font-family: "headingFonts", sans-serif;
  margin-bottom: 1.25rem;
}
.howweare-inbox p {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
  color: #fff;
  margin-bottom: 1.25rem;
  font-family: "DM Sans", sans-serif;
}

.brickLibrary {
  padding: 5rem 0px;
  background-color: #2E2D2D;
}
.brickLibrary .itemRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Responsive columns */
  -moz-column-gap: 54px;
       column-gap: 54px;
}
.brickLibrary .itemRow .itemImage {
  height: 17rem;
  border-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.brickLibrary .itemRow .itemTitle {
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 8px;
  color: #FAEDC0;
}
.brickLibrary .itemRow .itemId {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.36px;
  color: #fff;
}

.sectionTitleAndButton {
  padding-bottom: 2.5rem;
}
.sectionTitleAndButton h3 {
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.6px;
  color: #FAEDC0;
  font-family: "headingFonts", sans-serif;
}
.sectionTitleAndButton a {
  float: right;
}

.ourWork {
  padding: 5rem 0px;
}

.ourWorkRowItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 54px;
       column-gap: 54px;
}

.mainWorkItemBox {
  position: relative;
}
.mainWorkItemBox .workTextBox {
  position: relative;
  height: 23.375rem;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  padding: 20px 28px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  align-items: end;
  transition: all 0.3s ease-in-out;
}
.mainWorkItemBox .workTextBox:hover {
  background: url(../images/work1-backimg.svg) !important;
  transition: all 0.3s ease-in-out;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.mainWorkItemBox .workTextBox span {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #FAEDC0;
  margin-bottom: 10px;
}
.mainWorkItemBox .workTextBox h4 {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.48px;
}/*# sourceMappingURL=main.css.map */